<%# Comment %>
<div class='media comment' id='comment_<%= comment.id %>' data-tg-refresh='comment_<%= comment.id %>'>
  <% if policy(comment).update? %>
    <%= link_to(edit_post_comment_path(@post, comment), class: 'edit-comment-link', data: { tg_remote: "get", tg_refresh_on_success: "comment_body_#{comment.id}", tg_refresh_on_error: "comment_body_#{comment.id}"} ) do %>
      <span class="fa fa-pencil"></span>
    <% end %>
  <% end %>
  <div class='media-body'>
    <h4 class='media-heading'>
      <%= comment.user.username %>
      <small><%= local_time_ago(comment.created_at) %></small>
    </h4>
    <%# Comment body replaced on edit/update %>
    <div class="comment-body" id='comment_body_<%= comment.id %>' data-tg-refresh='comment_body_<%= comment.id %>'>
      <%= simple_format comment.body %>
    </div>
  </div>
  <%# User actions partial updates %>
  <div class="user-actions" >
    <ul>
      <% cache(['v1', 'votes', comment]) do %>
        <%= render partial: 'votes/votes', locals: { votable: comment } %>
      <% end %>
      <% if policy(comment).destroy? %>
        <li>
          <%= link_to(post_comment_path(@post, comment), class: 'delete-comment-link', data: { tg_remote: "delete", tg_refresh_on_success: "comments_list", tg_refresh_on_error: "comments_list"} ) do %>
            <span class="fa fa-trash"></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%# / Comment %>