<%# Post preview template index %>
<div class="post-preview">
  <%= link_to(post_path(post)) do %>
    <h2 class="post-title">
      <%= post.title %>
    </h2>
    <%= simple_format truncate(post.body, length: 150, escape: false) %>
  <% end %>
  <p class="post-meta">
    <span>
      Posted by: <a href="#"><%= post.user.username %></a>
      <%= local_time_ago(post.created_at) %>
    </span>
    <%# Partial updates for votes %>
    <div class="user-actions" >
      <ul>
        <% cache(['v1', 'votes', post]) do %>
          <%= render partial: 'votes/votes', locals: { votable: post } %>
        <% end %>
        <li>
          <span class="counters">
            Comments: <%= post.comments_count %>
          </span>
        </li>
      </ul>
    </div>
  </p>
</div>
<hr />
<%# / Post preview template index %>