<!-- Post Content -->
<% cache(['v1', 'post_show', @post, current_user, user_signed_in? ? 'authenticated' : 'guest']) do %>
  <article>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
          <h2 class='section-heading'><%= simple_format @post.title %></h2>
          <%= simple_format @post.body %>
          <div class="post-preview show">
            <div class="post-meta" id="post_meta_<%= @post.id %>" data-tg-refresh="post_meta_<%= @post.id %>">
              <span>
                Posted by: <a href="#"><%= @post.user.username %></a>
                <%= local_time_ago(@post.created_at) %>
              </span>
              <span class="counters">
                Comments: <%= @post.comments_count %>
              </span>
              <span class="counters">
                <% cache(['v1', 'votes', @post]) do %>
                  <%= render partial: 'votes/votes', locals: { votable: @post } %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1'>
          <!-- Comments Form -->
          <div class='well'>
            <h4>Leave a Comment:</h4>
            <%= form_for :comment, url: post_comments_path(@post), html: { id: 'comments_form', data: { tg_remote: "", tg_refresh_on_success: "comments_list post_meta_#{@post.id}", tg_refresh_on_error: "comments_list post_meta_#{@post.id}"} }, role: 'form' do |f| %>
              <div class='form-group'>
                <%= f.text_area :body, placeholder: 'Enter your comment', class: 'form-control', rows: '3' %>
              </div>
              <%= f.submit 'Submit', class: 'btn btn-primary' %>
            <% end %>
          </div>
          <hr>
          <% cache(['v1', 'comments', @post, @comments, params[:page]]) do %>
            <!-- Blog Comments -->
            <%= render partial: 'comments/comments', locals: {comments: @comments, resource: @post} %>
          <% end %>
        </div>
      </div>
    </div>
  </article>
  <!-- / Post Content -->
<% end %>