 <!-- Posted Comments -->
<% if user_signed_in? %>
  <li class="vote <%= votable.voted?(current_user.id) ? 'voted' : '' %>" id='votes_count_<%= votable.id %>_<%= votable.class.to_s %>' data-tg-refresh="votes_count_<%= votable.id %>_<%= votable.class.to_s %>">
    <%= link_to(votes_path(votable_id: votable.id, votable_type: votable.class.to_s), method: :post, data: { tg_remote: "post", tg_refresh_on_success: "votes_count_#{votable.id}_#{votable.class.to_s}", tg_refresh_on_error: "votes_count_#{votable.id}_#{votable.class.to_s}"} ) do %>
      <span class="fa fa-thumbs-up"></span>
    <% end %>
    <span>
      <%= votable.votes.size %>
    </span>
  </li>
<% else %>
  <li class="vote">
    <%= link_to('/login') do %>
      <span class="fa fa-thumbs-up"></span>
    <% end %>
    <span>
      <%= votable.votes.size %>
    </span>
  </li>
<% end %>