<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rails, Graphql and React.js powered blog</title>
    <meta name="description" content="A blog application written in react.js, rails and graphql tutorial"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="imagetoolbar" content="no" />
    <![endif]-->
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="env" data-env="<%= Rails.env %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <% if Rails.env.production? %>
      <script type="text/javascript">
        !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
        arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
        d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
        insertBefore(d,q)}(window,document,'script','_gs');
        _gs('GSN-715128-G');
      </script>
    <% end %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <%= yield :head %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= react_component 'app.NavBar', {prerender: true} %>
    <div class="content">
      <%= yield %>
    </div>
    <%= react_component 'app.Footer', {prerender: true} %>
  </body>
</html>
