<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GraphQL, Relay and Rails Powered Blog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <%= favicon_link_tag('favicon.png') %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="GraphQL, Relay and Rails Powered Blog Demo">
    <meta name="author" content="Developer">
    <meta name="current_user" id="<%= current_user.try(:id) %>" username="<%= current_user.try(:name) %>" email="<%= current_user.try(:email) %>">
    <meta name="logged_in" authenticated="<%= user_signed_in? %>" />
    <meta name="env" env="<%= Rails.env %>" />
    <link rel="dns-prefetch" href="https://oss.maxcdn.com/" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Demo Blog</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to('Home', root_path) %>
            </li>
            <li>
              <%= link_to('Query editor', editor_path) %>
            </li>
            <li>
              <%= link_to('<span class="fa fa-github"></span> Code'.html_safe, 'https://github.com/gauravtiwari/relay-rails-blog', target: '_blank') %>
            </li>
            <% if current_user %>
              <li>
                <%= link_to(current_user.name, '#') %>
              </li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Signup', new_user_registration_path %>
              </li>
              <li>
                <%= link_to 'Login', new_user_session_path %>
              </li>
            <% end %>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <%= yield %>
    <footer>
      <div class="container">
        <p class="copyright text-muted">Rails, Relay, GraphQL and Postgres powered blog</p>
      </div>
    </footer>
  </body>
</html>
